%section.larger-teams.text-center.feature-gallery.page-container
  .container
    .titles
      %h3
        Larger teams shouldn't mean slower processes
    .orgs-row.clearfix
      = image_tag "gitlab_ee/logos/citrix-logo-2x.svg", width: 80, height: 80
      = image_tag "gitlab_ee/logos/ing-logo-2x.svg", width: 80, height: 80
      = image_tag "gitlab_ee/logos/nasa-logo-2x.svg", width: 80, height: 80
      = image_tag "gitlab_ee/logos/intel-logo-2x.svg", width: 80, height: 80
      = image_tag "gitlab_ee/logos/harman-logo-2x.svg", width: 80, height: 80
      = image_tag "gitlab_ee/logos/nasdaq-logo-2x.svg", width: 80, height: 80
    .row
      .col-md-10.col-md-offset-1
        %p.section-description
          Used by over 100,000 organizations, enterprise development teams everywhere have realized that speed and security can coexist— but only with the right tools. GitLab Enterprise Edition builds on top of our open source product to give your team everything they need to work together and ship quality software.
    .row.features-description
      .col-md-4.clearfix
        .col-xs-2
          = icon "gitlab-ee/icons/1-platform-icon", "media-object"
        .col-xs-10.feature-contents
          %h4 One platform
          %p All of the necessary tools for modern development in a single UI.
      .col-md-4
        .col-xs-2
          = icon "gitlab-ee/icons/2-install-icon", "media-object"
        .col-xs-10.feature-contents
          %h4 Straightforward installation
          %p Ships in one easy to install package that can be hosted on nearly any server.
      .col-md-4
        .col-xs-2
          = icon "gitlab-ee/icons/3-supported-icon", "media-object"
        .col-xs-10.feature-contents
          %h4 Supported
          %p Various support models that ensure your team can focus on their products and not their tools.
