%section.larger-teams.brand-primary-background-theme
  .container
    %h2.section-title Larger teams shouldn't mean slower processes
    .image-row
      = icon "gitlab-ee/org-logos/1-citrix-logo", ""
      = icon "gitlab-ee/org-logos/2-ing-logo", ""
      = icon "gitlab-ee/org-logos/3-nasa-logo", ""
      = icon "gitlab-ee/org-logos/4-intel-logo", ""
      = icon "gitlab-ee/org-logos/5-harman-logo", ""
      = icon "gitlab-ee/org-logos/6-nasdaq-logo", ""
    %p.section-description Used by over 100,000 organizations, enterprise development teams everywhere have realized that speed and security can coexist— but only with the right tools. GitLab Enterprise Edition builds on top of our open source product to give your team everything they need to work together and ship quality software.
    .feature-cluster-row.row
      .media.col-xs-4
        .media-left.col-xs-2
          = icon "gitlab-ee/icons/1-platform-icon", "media-object"
        .media-body.col-xs-10
          %h4.media-heading One platform
          All of the necessary tools for modern development in a single UI.
      .media.col-xs-4
        .media-left.col-xs-2
          = icon "gitlab-ee/icons/2-install-icon", "media-object"
        .media-body.col-xs-10
          %h4.media-heading Straightforward installation
          Ships in one easy to install package that can be hosted on nearly any server.
      .media.col-xs-4
        .media-left.col-xs-2
          = icon "gitlab-ee/icons/3-supported-icon", "media-object"
        .media-body.col-xs-10
          %h4.media-heading Supported
          Support packages that ensure your team can focus on their products and not their tools.

