%section.top-reasons.no-background-color-theme
  .container
    %h2.section-title-xl Top reasons to choose GitLab
    .feature-cluster-row.row
      .media.col-xs-4
        .media-left.col-xs-2
          = icon "gitlab-ee/icons/16-git-icon", "media-object"
        .media-body.col-xs-10
          %h4.media-heading Next-generation git platform
          Tightly-integrated version control, project management, code review, testing, and deployment to thread conversation and maintain context across your full development process.
      .media.col-xs-4
        .media-left.col-xs-2
          = icon "gitlab-ee/icons/17-scale-icon", "media-object"
        .media-body.col-xs-10
          %h4.media-heading Scale
          A single machine server handles thousands of users and repositories. If your team is distributed, easily spin up a secondary GitLab Geo instance.
      .media.col-xs-4
        .media-left.col-xs-2
          = icon "gitlab-ee/icons/18-monthly-icon", "media-object"
        .media-body.col-xs-10
          %h4.media-heading Updated monthly
          We release on the 22nd of every month so you never have to wait too long for new features. Of course, you choose when you update.
    .feature-cluster-row.row
      .media.col-xs-4
        .media-left.col-xs-2
          = icon "gitlab-ee/icons/19-transparency-icon", "media-object"
        .media-body.col-xs-10
          %h4.media-heading Transparency
          GitLab’s roadmap and issue trackers are open. Submit an issue, add your perspective to open issues, and follow the development process.
      .media.col-xs-4
        .media-left.col-xs-2
          = icon "gitlab-ee/icons/20-open-source-icon", "media-object"
        .media-body.col-xs-10
          %h4.media-heading Open source
          GitLab Enterprise Edition customers also have access to the source code. Scan or modify the code to meet your security and development needs.
      .media.col-xs-4
        .media-left.col-xs-2
          = icon "gitlab-ee/icons/21-cost-icon", "media-object"
        .media-body.col-xs-10
          %h4.media-heading Cost-effective
          GitLab is feature-packed, updated monthly, and is a fraction of the cost. No need for multiple products with different billing cycles or complex licensing rules.
      %button.btn.cta-btn.red Compare GitLab to other tools





