---
layout: default
title: GitLab.com
suppress_header: true
extra_css:
  - gitlab-com.css
---

.heading-container
  .container.text-center
    %h1.page-headline
      Host your projects on GitLab.com
    %h2.subheader
      Unlimited free private repositories and collaborators
    = link_to "Sign up for a free forever account", "https://gitlab.com/users/sign_in", class: "btn cta-btn red"
    %span.credit-card-disclaimer
      No credit card required
.page-container.container.gitlab-com-features
  %h2.text-center
    GitLab.com runs on our Enterprise Edition Starter
  %h3.text-center
    Issue tracking, wikis, continues integration (CI/CD) and much, much more.
  %ul.list-unstyled.row.gitlab-com-features-list
    %li.col-md-4
      %strong.features-list-title
        Unlimited repositories
    %li.col-md-4
      %strong.features-list-title
        Unlimited collaborators
    %li.col-md-4
      %strong.features-list-title
        10GB disk space per project
      %span.features-list-sub-title
        (with LFS support)
    %li.col-md-4.col-md-offset-2
      %strong.features-list-title
        No installation required
    %li.col-md-4
      %strong.features-list-title
        Easy import from your current provider
  .row
    .col-md-4.col-md-offset-2
      .panel.panel-gitlab
        %header.panel-heading.text-center
          Free Forever
        .panel-body.text-center.pricing-panel-body
          %h4.pricing-panel-price
            Free
          %p
            1000 build minutes per month
          = link_to "Sign Up", "/", class: "btn cta-btn red"
    .col-md-4
      .panel.panel-gitlab
        %header.panel-heading.text-center
          Bronze Plan
        .panel-body.text-center.pricing-panel-body
          %h4.pricing-panel-price
            $5
            %span.pricing-panel-price-side
              per month
          %p
            Unlimted build minutes per month
          = link_to "Sign Up", "/", class: "btn cta-btn red"
.page-container.gitlab-com-questions
  .container
    %h2.text-center.light
      Frequently Asked Questions
    .faq-holder.clearfix
      - size = (data.gitlab_com.questions.size / Float(2)).ceil
      - data.gitlab_com.questions.each_slice(size).to_a.each do |group|
        = partial "includes/question-group", locals: { group: group }
.page-container.gitlab-com-stratergy
  .container
    %h3.text-center.gitlab-com-stratergy-title.light
      Our stratergy moving forward
    %p.gitlab-com-stratergy-opening-text.light
      Our stratergy is to make GitLab.com the most popular SaaS solution for private and public
      repositories. To achieve this goal you get unlimited public and private projects, and there
      is no limit to the number of collaborators on a project. And we plan to keep unlimited repositories
      and collaborators free forever. To sustain this there are paid accounts and feature. Below
      the types of accounts and then planned paid features are detailed.
    .gitlab-com-stratergy-plans.row
      .col-md-4
        %h4.gitlab-com-stratergy-title
          Free
        %p.gitlab-com-stratergy-plan-text.light
          Free text
      .col-md-4
        %h4.gitlab-com-stratergy-title
          Bronze
        %p.gitlab-com-stratergy-plan-text.light
          Bronze text
      .col-md-4
        %h4.gitlab-com-stratergy-title
          Silver
        %p.gitlab-com-stratergy-plan-text.light
          Silver text
    %h4.text-center.gitlab-com-stratergy-title.gitlab-com-stratergy-title-future
      In the future we might also charge for the following things:
    .row.gitlab-com-stratergy-future
      .col-md-4
        %p.gitlab-com-stratergy-plan-text.light
          Build storage
      .col-md-4
        %p.gitlab-com-stratergy-plan-text.light
          Build storage
      .col-md-4
        %p.gitlab-com-stratergy-plan-text.light
          Build storage
      .col-md-4
        %p.gitlab-com-stratergy-plan-text.light
          Build storage
      .col-md-4
        %p.gitlab-com-stratergy-plan-text.light
          Build storage
.gitlab-right-fit.container.text-center
  %h2.light
    Is GitLab the right fit for you?
  %h3.light
    Unlimited free private repositories and collaborators
  = link_to "Compare us to our competitors", "/comparison", class: "btn cta-btn red"
.page-container.gitlab-used-by.text-center
  .container
    %h4
      GitLab.com is used by more than 100,000 people, including these organizations:
    = link_to "Sign up for a free forever account", "https://gitlab.com/user/sign_in", class: "btn cta-btn red"
    %span.credit-card-disclaimer
      No credit card required.
