%div.comparison-tree-nav-wrap.col-sm-4
  %ul.comparison-tree-nav
    %li
      = highlight_active_nav_link('Overview', "/comparison/")
    %li
      = highlight_active_nav_link("GitLab Self-hosted vs. GitHub.com", "/comparison/gitlab-self-hosted-vs-github.html")
    %li
      = highlight_active_nav_link("GitLab EE vs. GitHub Enterprise", "/comparison/gitlab-ee-vs-github-enterprise.html")
    %li
      = highlight_active_nav_link("GitLab.com vs. GitHub.com", "/comparison/gitlab-vs-github.html")
    %li
      = highlight_active_nav_link("GitLab CE/EE vs. Bitbucket Server", "/comparison/gitlab-ce-ee-vs-bitbucket-server.html")
    %li
      = highlight_active_nav_link("GitLab.com vs. Bitbucket.org", "/comparison/gitlab-com-vs-bitbucket-org.html")
    %li
      = highlight_active_nav_link("GitLab CE/EE vs. SaaS", "/comparison/gitlab-ce-ee-vs-saas.html")
    %li
      = highlight_active_nav_link("GitLab CE vs. GitLab EE", "/comparison/gitlab-ce-vs-gitlab-ee.html")
    %li
      = highlight_active_nav_link("GitLab vs. SVN", "/comparison/gitlab-vs-svn.html")
    %li
      = highlight_active_nav_link("GitLab vs. GitSwarm", "/comparison/gitlab-vs-gitswarm.html")
