- current_page.data.extra_css ||= []
- current_page.data.extra_css += ['salary-calculator.css']

- current_page.data.extra_js ||= []
- current_page.data.extra_js += ['salary-calculator.js']

- job= data.jobs.select{|p| p.title.downcase == title.downcase }
- if job.length == 1 and job[0].salary
  .salary-container.col-xs-12{data: {salary: job[0].salary}}
    %h2 Estimate your compensation
    .col-sm-8
      .col-sm-6
        .dropdown.experience
          %button.dropdown-menu-toggle.btn{type: 'button', 'data-toggle' => 'dropdown'}
            %span.title Experience in your level
            %span.subtitle
            %i.fa.fa-chevron-down
          %ul.dropdown-menu.dropdown-scroll
            %li
              %span.key Show range
              %span.value 0.8 to 1.2
            %li
              %span.key Low
              %span.value 0.8
            %li
              %span.key Medium
              %span.value 1.0
            %li
              %span.key High
              %span.value 1.2
      .col-sm-6
        .dropdown.level
          %button.dropdown-menu-toggle.btn{type: 'button', 'data-toggle' => 'dropdown'}
            %span.title Level
            %span.subtitle
            %i.fa.fa-chevron-down
          %ul.dropdown-menu.dropdown-scroll
            %li
              %span.key Junior
              %span.value 0.0
            %li
              %span.key Intermediate
              %span.value 1.0
            %li
              %span.key Senior
              %span.value 2.0
            %li
              %span.key Lead
              %span.value 3.0
      .col-sm-6
        .dropdown.country
          %button.dropdown-menu-toggle.btn{type: 'button', 'data-toggle' => 'dropdown'}
            %span.title Country
            %i.fa.fa-chevron-down
          %ul.dropdown-menu.dropdown-scroll
            - data.numbeo.uniq(&:country).sort_by(&:country).each do |p|
              %li
                %span.key= p.country
      .col-sm-6
        .dropdown.city
          %button.dropdown-menu-toggle.disabled.btn{type: 'button', 'data-toggle' => 'dropdown'}
            %span.title City
            %span.subtitle
            %i.fa.fa-chevron-down
          %ul.dropdown-menu.dropdown-scroll
            - data.numbeo.sort_by(&:city).each do |p|
              %li.hidden{'data-country' => p.country}
                %span.key= p.city
                %span.display-value= sprintf('%0.2f', (p.rentIndex*0.01).round(2))
    .col-sm-4
      .compensation
        .title Estimated Compensation
        .amount --
    .col-sm-12.note
      Learn about our
      = succeed '.' do
        %a{:href => '/handbook/contracts'} contract types
      We will usually pay you in your local currency.
      We expect you will be
      %span.contract-type-container
        %span.grammer a
        %strong.contract-type contractor
        at GitLab
        %span.company-type BV.
    .col-sm-12.formula-container
      %h4 How did we calculate your compensation?
      .formula
        .variable-group
          .variable.benchmark
            %span.name Benchmark
            %span.value= "$#{number_with_delimiter(job[0].salary, :delimiter => ',')}"
        .symbol.multiplication x
        .variable-group
          .symbol (
          .variable.rentIndex
            %span.name Rent Index
            %span.value --
          .symbol +
          .constant 0.25
          .symbol )
        .symbol.multiplication x
        .variable-group
          .symbol (
          .variable.level
            %span.name Level
            %span.value --
          .symbol +
          .constant 4
          .symbol )
          .symbol /
          .constant 5
        .symbol.multiplication x
        .variable-group
          .variable.experience
            %span.name Experience
            %span.value --
        .symbol.multiplication x
        .variable-group
          .variable.contractType
            %span.name Contract Type
            %span.value --
      .explanation
      Find out
      = succeed '.' do
        %a{:href => '/handbook/people-operations/global-compensation-framework'} how our calculator works
