---
title: Code, test, and deploy together with GitLab open source git repo management software
suppress_header: true
extra_css:
  - gitlab-ee-standalone.css
extra_js:
  - gitlab-ee-standalone.js
---
.gitlab-ee-standalone
  = partial "includes/gitlab-ee/top-nav"
  = partial "includes/gitlab-ee/hero-section"
  = partial "includes/gitlab-ee/larger-teams"
  = partial "includes/gitlab-ee/os-principles"
  = partial "includes/gitlab-ee/productive-teams"
  = partial "includes/gitlab-ee/faster-iteration"
  = partial "includes/gitlab-ee/admin-control"
  = partial "includes/gitlab-ee/track-development"
  = partial "includes/gitlab-ee/flexible-solution"
  = partial "includes/gitlab-ee/contact-sales"
  = partial "includes/gitlab-ee/top-reasons"
