---
title: GitLab Enterprise Edition | Innovate faster without compromising security or quality.
suppress_header: true
extra_css:
  - gitlab-ee-standalone.css
extra_js:
  - libs/slick.min.js
  - features.js
---
.gitlab-ee-standalone
  = partial "includes/gitlab-ee/01-top-nav"
  = partial "includes/gitlab-ee/02-hero-section"
  = partial "includes/gitlab-ee/03-larger-teams"
  = partial "includes/gitlab-ee/04-os-principles"
  = partial "includes/gitlab-ee/05-productive-teams"
  = partial "includes/gitlab-ee/06-faster-iteration"
  = partial "includes/gitlab-ee/07-admin-control"
  = partial "includes/gitlab-ee/08-track-development"
  = partial "includes/gitlab-ee/09-flexible-solution"
  = partial "includes/gitlab-ee/10-contact-sales"
  = partial "includes/gitlab-ee/11-top-reasons"
