---
title: Code, test, and deploy together with GitLab open source git repo management software
suppress_header: true
extra_css:
  - landing.css
  - landing-ee.css
extra_js:
  - home.js
  - landing-ee.js
---
.page-container.landing-container.text-center
  .ee-navbar Benefits Features Pricing Compare
  #js-landing-community.landing-community
  .container.splash-container
    .landing-hero.hidden-xs
      = partial "images/home/gitlab-illustration.svg"
    %h1.page-headline
      GitLab Enterprise Edition helps large teams innovate faster without compromising security or quality.
    %h2.page-subtitle

= partial "includes/gitlab-ee/larger-teams"
= partial "includes/gitlab-ee/os-principles"
= partial "includes/gitlab-ee/productive-teams"
= partial "includes/gitlab-ee/faster-iteration"
= partial "includes/gitlab-ee/admin-control"
= partial "includes/gitlab-ee/track-development"
= partial "includes/gitlab-ee/flexible-solution"
= partial "includes/gitlab-ee/contact-sales"
= partial "includes/gitlab-ee/top-reasons"

.homepage-blog-section
  .container
    .row.post-list
      - blog.articles[0..2].each do |post|
        .col-sm-12.col-md-4.post-item
          %a{href: post.url}
            - if post.data.image_title
              .image-title.blog-image{style: "background-image: url(#{post.data.image_title});"}
                .color-bg
                  %h4= post.title
            - else
              .image-title.no-image
                .color-bg
                  %h4= post.title
