---
title: Features
suppress_header: true
extra_css:
  - features-v2.css
extra_js:
  - libs/slick.min.js
  - features.js
---
.features-page
  = partial "includes/features/index/01-hero-section"
  = partial "includes/features/index/02-modern-software"
  = partial "includes/features/index/03-manage-releases"
  = partial "includes/features/index/04-increase-code-quality"
  = partial "includes/features/index/05-deploy-with-confidence"
  = partial "includes/features/index/06-follow-changes"
  = partial "includes/features/index/07-choose-version"
  