---
layout: default
title: Cycle Analytics
suppress_header: true
extra_css:
  - issue-boards.css
extra_js:
  - issue-boards.js
---

.page-container.issue-boards-container.text-center.animated
  .container
    .header-graphic
      = image_tag "/images/issue-boards/icon-header.png", class: "img-responsive"

    %h1.page-headline
      Introducing GitLab Cycle Analytics
    %h4.subheader
      Real data, better decisions.
    %a.btn.btn-lg.btn-red{ href: "/INSERT-LINK/" } View Blog Post

.page-container.content-container.text-center.animated
  .container
    %h2.page-headline.orange-title
      What is the GitLab Cycle Analytics?
    .feature-item.col-md-10.col-md-push-1
      = icon("home/icon-step-10", "feature-icon", { label: "Real data on your project" })
      %h3
        Real data on your project
      %p
        Estimates are often incorrect. Stop estimating. Cycle Analytics lets you know how long it takes your team to complete each step in their workflow from idea to production.
    .feature-item.col-md-10.col-md-push-1
      = icon("cycle-analytics/icon-people", "feature-icon", { label: "Built for managers and teams" })
      %h3
        Built for managers and teams
      %p
        One shared view of the team's velocity. Use data to make better decisions. With insights into how long it takes the team to move from idea to production, you can pinpoint areas for improvement and more accurately predict your releases.
    .feature-item.col-md-10.col-md-push-1
      = icon("cycle-analytics/icon-graph", "feature-icon", { label: "No setup required" })
      %h3
        No setup required
      %p
        :markdown
          Cycle Analytics is pre-configured and ready to track your workflow. It follows the [GitLab Flow](/2016/07/27/the-11-rules-of-gitlab-flow/) and records the median time it takes the team to complete each step.

#video-explainer.page-container.content-container.text-center.video-explainer
  .container
    %h2.page-headline
      Check out the Cycle Analytics overview

    .video-container
      %iframe{ src: "https://www.youtube.com/embed/UWsJ8tkHAa8", frameborder: "0", allowfullscreen: true }


.what-is.purple-section.text-center.animated
  .container
    %h2.purple-section-title
      Join our webcast!
    .purple-section-subtitle
      Hear more about Cycle Analytics and all the new functionalities of GitLab 8.12
    %a.featured-item-button.white-on-primary.btn-margin-top{ href: "https://page.gitlab.com/20160922_CycleAnalyticsWebcast.html" } Sign Up Today

.page-container.content-container.white-bg.animated
  .container
    %h2.page-headline.text-center
      Understanding GitLab Cycle Analytics
    %h3.getting-started-subheader.text-center
      :markdown
        Cycle Analytics is available in GitLab.com, GitLab Community Edition, and GitLab Enterprise Edition. Navigate to your Project's
        **Pipelines** > **Cycle Analytics** to access the dashboard.
    %section#steps.steps
      .step.js-step
        .container
          .step-icon-container
            = icon("home/icon-step-2", "step-icon", { label: "Issue" })
            %span.step-number.text-center
              [ stage 01 ]
          .row
            .col-md-10.col-md-push-1.step-content-holder
              %h3.step-title.text-center
                Issue
              .lead.text-center.step-lead-text
                :markdown
                  Time before an issue gets scheduled
              .row.row-eq-height
                .col-md-6.step-content
                  :markdown
                    It measures the time between creating an issue and taking action to solve it, by either 
                    labeling it or adding it to a milestone.
                .col-md-6.step-image-container
                  .step-image
                    = image_tag "/images/cycle-analytics/step-1-issue.png", class: "img-responsive"
      .step.js-step
        .container
          .step-icon-container
            = icon("home/icon-step-3", "step-icon", { label: "Plan" })
            %span.step-number.text-center
              [ stage 02 ]
          .row
            .col-md-10.col-md-push-1.step-content-holder
              %h3.step-title.text-center
                Plan
              .lead.text-center.step-lead-text
                :markdown
                  Time before an issue starts implementation
              .row.row-eq-height
                .col-md-6.step-image-container
                  .step-image
                    = image_tag "/images/cycle-analytics/step-2-plan.png", class: "img-responsive"
                .col-md-6.step-content
                  :markdown
                    This step measures the time between the action you took for the previous step, and pushing the first commit to the repository. To make this change tracked, you need to add the tag `closes #xxx`, where `xxx` is the number of the issue related to this commit.
      .step.js-step
        .container
          .step-icon-container
            = icon("home/icon-step-4", "step-icon step-icon-3", { label: "Code" })
            %span.step-number.text-center
              [ stage 03 ]
          .row
            .col-md-10.col-md-push-1.step-content-holder
              %h3.step-title.text-center
                Code
              .lead.text-center.step-lead-text
                :markdown
                  Time until first Merge Request (MR)
              .row.row-eq-height
                .col-md-6.step-content
                  :markdown
                    This stage measures the time between pushing a first commit (previous step) and creating an MR related to that commit. The key to keep the process tracked is adding the tag [`closes/fixes #xxx`](#) to the description of the MR.
                .col-md-6.step-image-container
                  .step-image
                    = image_tag "/images/cycle-analytics/step-3-code.png", class: "img-responsive"
      .step.js-step
        .container
          .step-icon-container
            = icon("home/icon-step-6", "step-icon step-icon-3", { label: "Test" })
            %span.step-number.text-center
              [ stage 04 ]
          .row
            .col-md-10.col-md-push-1.step-content-holder
              %h3.step-title.text-center
                Test
              .lead.text-center.step-lead-text
                :markdown
                  Time GitLab CI takes to run the pipeline for all commits and merges
              .row.row-eq-height
                .col-md-6.step-image-container
                  .step-image
                    = image_tag "/images/cycle-analytics/step-4-test.png", class: "img-responsive"
                .col-md-6.step-content
                  :markdown
                    This step measures the time to run the entire pipeline for that project, in every branch except `master`. It's related to the time GitLab CI takes to run every job for the commits related to that MR defined in the previous step.
      .step.js-step
        .container
          .step-icon-container
            = icon("home/icon-step-7", "step-icon step-icon-3", { label: "Review" })
            %span.step-number.text-center
              [ stage 05 ]
          .row
            .col-md-10.col-md-push-1.step-content-holder
              %h3.step-title.text-center
                Review
              .lead.text-center.step-lead-text
                :markdown
                  Time between the creation of an MR and merging or closing it
              .row.row-eq-height
                .col-md-6.step-content
                  :markdown
                    This step measures the time taken to review the MR, between its creation of until it's merged or closed.
                .col-md-6.step-image-container
                  .step-image
                    = image_tag "/images/cycle-analytics/step-5-review.png", class: "img-responsive"
      .step.js-step
        .container
          .step-icon-container
            = icon("home/icon-step-8", "step-icon step-icon-3", { label: "Staging" })
            %span.step-number.text-center
              [ stage 06 ]
          .row
            .col-md-10.col-md-push-1.step-content-holder
              %h3.step-title.text-center
                Staging
              .lead.text-center.step-lead-text
                :markdown
                  Time from merging an MR until deploy to production
              .row.row-eq-height
                .col-md-6.step-image-container
                  .step-image
                    = image_tag "/images/cycle-analytics/step-6-staging.png", class: "img-responsive"
                .col-md-6.step-content
                  :markdown
                    This stage measures the time between merging the MR until the app is deployed to production. It's tracked by the `environment` set to `production` in your GitLab CI configuration.
      .step.js-step
        .container
          .step-icon-container
            = icon("home/icon-step-9", "step-icon step-icon-3", { label: "Production" })
            %span.step-number.text-center
              [ stage 07 ]
          .row
            .col-md-10.col-md-push-1.step-content-holder
              %h3.step-title.text-center
                Production
              .lead.text-center.step-lead-text
                :markdown
                  **Total lifecycle time**: from creating an issue until deploying code to production
              .row.row-eq-height
                .col-md-6.step-content
                  :markdown
                    This is the measure of the time taken to run entire process, from issue creation to deploying the code to production. In fact, this is the time your team takes to go from idea to production.
                .col-md-6.step-image-container
                  .step-image
                    = image_tag "/images/issue-boards/step-3-illustration.png", class: "img-responsive"

= partial "includes/features/try-gitlab-ee"

.sticky-banner.js-sticky-banner.active
  .sticky-banner-content
    .sticky-banner-text
      %p.header-text
        Try GitLab Enterprise Edition risk-free for 30 days.
      %p.subheader-text
        No credit card required. Have questions?
        %a.contact-us{href: "https://about.gitlab.com/sales/"} Contact us.
    .action
      %a.btn.featured-item-button{ href: "/free-trial/" } Get Your Free Trial Today