---
layout: default
title: Install a GitLab Community Edition (CE) Omnibus package in 5 easy steps
extra_css:
  - downloads.css
---

.wrapper.container
  .row.graphic-menu
    .col-md-10.col-md-offset-1
      .installation-instructions
        %h2.heavy
          Step 1: Select Operating System
        .btn-group
          %button.btn.btn-default.dropdown-toggle.btn-lg{"data-toggle" => "dropdown", type: "button"}
            Select Operating System
            %span.caret
          %ul.dropdown-menu{role: "menu"}
            - data.platforms.each do |platform|
              %li
                %a{href: "##{platform.name}", onclick: "dataLayer.push({event: 'ceDownload',operatingSystem: '#{platform.name}'});"}
                  = platform.long_name
      #tabs
        - data.platforms.each do |platform|
          = partial "includes/downloads/platform", locals: { platform: platform, type: "ce" }
      .other-downloads
        %h2.heavy
          Other Installation Options
        %h4.other
          %a{href: "/downloads-ee"} Download GitLab Enterprise Edition
        %h4
          %a{href: "https://packages.gitlab.com/gitlab/gitlab-ce"} Browse all GitLab CE installation packages
        %h4
          %a{href: "https://docs.gitlab.com/ce/install/requirements.html"} GitLab CE Installation requirements
        = partial "includes/downloads/other"
