---
layout: default
title: "Review Apps"
description: "The quickest way to preview every change in a dynamic environment"
twitter_image: '/images/tweets/gitlab-cycle-analytics.png' # update
suppress_header: true
extra_css:
  - solutions.css
extra_js:
  - solutions.js
---

.page-container.review-apps-container.text-center.animated
  .container
    .header-graphic
      = image_tag "/images/cycle-analytics/icon-header.png", class: "img-responsive"

    %h1.page-headline
      Review Apps
    %h4.subheader
      The quickest way to preview every change in a live environment
    %a.btn.btn-lg.btn-red{ href: "/INCLUDE-URL/" } View Blog Post

.page-container.content-container.text-center.animated
  .container
    %h2.page-headline.orange-title
      What is GitLab Review Apps?
    .feature-item.col-md-10.col-md-push-1
      = icon("review-apps/icon-benefit-1", "feature-icon", { label: "Real data on your project" })
      %h3
        Automatic Live Preview
      %p
        :markdown
          Code, commit, and wait seconds for your preview link. 
          Review Apps automatically spin up dynamic environments for your merge requests. After you merge the environment is destroyed.
    .feature-item.col-md-10.col-md-push-1
      = icon("review-apps/icon-benefit-2", "feature-icon", { label: "Built for managers and teams" })
      %h3
        Fully-Integrated
      %p
        :markdown
          With GitLab's code review, built-in CI, and Review Apps, you can speed up your development process with one tool for coding, testing, and live previewing your changes.
    .feature-item.col-md-10.col-md-push-1
      = icon("cycle-analytics/icon-benefit-3", "feature-icon", { label: "No setup required" })
      %h3
        Easily Configurable
      %p
        :markdown
          Setting up Review Apps is as easy as adding a line to your GitLab CI yaml file. 
          Simply define what server or cluster you want the review app deployed to and we do the rest.

#img-explainer.page-container.content-container.text-center.img-explainer
  .container
    %h2.page-headline
      Review Apps Overview

    .image-container
      = image_tag "/images/review-apps/deployment-review-apps.png", class: "img-responsive"


.what-is.purple-section.text-center.animated
  .container
    %h2.purple-section-title
      Join our webcast!
    .purple-section-subtitle
      Hear more about Review Apps and the other new features in GitLab 8.14
    %a.featured-item-button.white-on-primary.btn-margin-top{ href: "INSERT-WEBCAST-URL" } Sign Up Today

.page-container.content-container.white-bg.animated
  .container
    %h2.page-headline.text-center
      Review Apps Benefits
    %h3.getting-started-subheader.text-center
      :markdown
        Review Apps is available in GitLab.com, GitLab Community Edition, and GitLab Enterprise Edition

    %section#steps.steps
      #benefit-1.step.js-step
        .container
          .step-icon-container
            = icon("review-apps/icon-step-1", "step-icon", { label: "Issue" })
            %span.step-number.text-center
              [ benefit 01 ]
          .row
            .col-md-10.col-md-push-1.step-content-holder
              %h3.step-title.text-center
                Dynamic Preview
              .lead.text-center.step-lead-text
                :markdown
                  Preview your app while working on a new implementation
              .row.row-eq-height
                .col-md-6.step-content
                  :markdown
                    The main power of GitLab Review Apps is the ability to preview a new proposal right from the merge request, in a per feature-branch basis.
                .col-md-6.step-image-container
                  .step-image
                    = image_tag "/images/cycle-analytics/stage-1-illustration.png", class: "img-responsive"
      #benefit-2.step.js-step
        .container
          .step-icon-container
            = icon("review-apps/icon-step-2", "step-icon", { label: "Plan" })
            %span.step-number.text-center
              [ benefit 02 ]
          .row
            .col-md-10.col-md-push-1.step-content-holder
              %h3.step-title.text-center
                No More Doubts
              .lead.text-center.step-lead-text
                :markdown
                  Know that your proposal works

              .row.row-eq-height
                .col-md-6.step-image-container
                  .step-image
                    = image_tag "/images/cycle-analytics/stage-2-illustration.png", class: "img-responsive"
                .col-md-6.step-content
                  :markdown
                    You don't need to ask yourself "does this really work?" anymore. 

                    Know it's working, or have your team
                    making it work before deploying your code.
      #benefit-3.step.js-step
        .container
          .step-icon-container
            = icon("review-apps/icon-step-3", "step-icon step-icon-3", { label: "Code" })
            %span.step-number.text-center
              [ benefit 03 ]
          .row
            .col-md-10.col-md-push-1.step-content-holder
              %h3.step-title.text-center
                Save Time
              .lead.text-center.step-lead-text
                :markdown
                  No more back and forwards
              .row.row-eq-height
                .col-md-6.step-content
                  :markdown
                    Once you don't need to deploy you code to staging or even to production to see it working,
                    you save your time, and your reviewer's, by having a fully-integrated tool to do it for you,
                    for all your projects.
                .col-md-6.step-image-container
                  .step-image
                    = image_tag "/images/cycle-analytics/stage-3-illustration.png", class: "img-responsive"
      #benefit-4.step.js-step
        .container
          .step-icon-container
            = icon("review-apps/icon-step-4", "step-icon step-icon-3", { label: "Save Money" })
            %span.step-number.text-center
              [ benefit 04 ]
          .row
            .col-md-10.col-md-push-1.step-content-holder
              %h3.step-title.text-center
                Save Money
              .lead.text-center.step-lead-text
                :markdown
                  Built-in with GitLab
              .row.row-eq-height
                .col-md-6.step-image-container
                  .step-image
                    = image_tag "/images/cycle-analytics/stage-4-illustration.png", class: "img-responsive"
                .col-md-6.step-content
                  :markdown
                    Don't pay extra money for a third-party tool to do that for you. Neither spend your developer's time
                    on setting it up. Review Apps is built-in with GitLab, free to use as you like.

                    Save your money on infrastructure. Recycle your server storage, by destroying the environments created
                    for each review, and creating new ones on the go.
      #benefit-5.step.js-step
        .container
          .step-icon-container
            = icon("issue-boards/icon-benefit-1", "step-icon step-icon-3", { label: "All Together" })
            %span.step-number.text-center
              [ benefit 05 ]
          .row
            .col-md-10.col-md-push-1.step-content-holder
              %h3.step-title.text-center
                All Together
              .lead.text-center.step-lead-text
                :markdown
                  Chat, Issue, Plan, Code, Test, Review, Deploy, Measure
              .row.row-eq-height
                .col-md-6.step-content
                  :markdown
                    GitLab is becoming completely self sufficient for software development: all the infrastructure
                    you need united in one single product. Go faster [from idea to production](/2016/08/05/continuous-integration-delivery-and-deployment-with-gitlab/#from-idea-to-production-with-gitlab) with GitLab!

                    What are you waiting for? [Sign Up](https://gitlab.com/users/sign_in) for GitLab.com, download [GitLab Community Edition](/downloads/),
                    or get your [GitLab Enterprise Edition](/free-trial/) free trial right now!
                .col-md-6.step-image-container
                  .step-image
                    = image_tag "/images/cycle-analytics/stage-5-illustration.png", class: "img-responsive"

.what-is.purple-section.text-center.animated
  .container
    %h2.purple-section-title
      Get Started with GitLab Review Apps
    .purple-section-subtitle
      Read more about the technical aspects of this feature at:
    %a.featured-item-button.white-on-primary.btn-margin-top{ href: "INSERT-BLOGPOST-URL" } Blog Post
    %a.featured-item-button.white-on-primary.btn-margin-top{ href: "INSERT-DOC-URL" } Documentation
    %a.featured-item-button.white-on-primary.btn-margin-top{ href: "https://gitlab.com/gitlab-examples/review-apps-nginx" } Example Project

= partial "includes/features/try-gitlab-ee"

.sticky-banner.js-sticky-banner.active
  .sticky-banner-content
    .sticky-banner-text
      %p.header-text
        Try GitLab Enterprise Edition risk-free for 30 days.
      %p.subheader-text
        No credit card required. Have questions?
        %a.contact-us{href: "https://about.gitlab.com/sales/"} Contact us.
    .action
      %a.btn.featured-item-button{ href: "/free-trial/" } Get Your Free Trial Today
