---
layout: default
title: Products
suppress_header: true
extra_css:
  - pricing.css
extra_js:
  - pricing.js
extra_font:
  - "Roboto+Slab"
---

.page-container.pricing-container.text-center.animated
  .container
    %h1.page-headline
      Flexible plans for individuals and businesses
    %h4.subheader
      All plans include Git repository management, code reviews, issue tracking, built-in GitLab CI for continuous integration and delivery, plus a 45 day money-back guarantee.

.pricing-options.text-center.animated
  .container
    .row{ data: { equal: ".col-md-2" } }
      .col-md-2
        .featured-item
          .edition-name
            Community Edition
          .featured-item-body
            %p.edition-description
              Ideal for personal projects or small teams with minimal user management and workflow control needs
            %h2.featured-item-headline
              Free
            %h3.featured-item-headline-small
              unlimited users
            %ul.featured-item-list.list-unstyled
              %li.item-description
                Git repository hosting
              %li.line-separator
              %li.item-description
                Code review
              %li.line-separator
              %li.item-description
                Issue tracking
              %li.line-separator
              %li.item-description
                = link_to "GitLab CI", "https://docs.gitlab.com/ce/ci/"
              %li.line-separator
              %li.item-description
                = link_to "Cycle analytics", "https://docs.gitlab.com/ce/user/project/cycle_analytics.html"
              %li.line-separator
              %li.item-description
                = link_to "Learn more...", "#compare-options", class: "action-link"
            = link_to "Download Now", "/downloads/", class: "featured-item-button"
      .col-md-2
        .featured-item
          .edition-name.edition-enterprise
            Enterprise Edition Starter
          .featured-item-body
            %h2.featured-item-headline
              = succeed "39/yr" do
                %span.currency $
            %h3.featured-item-headline-small
              per user (no minimum)
            = icon "ee", "featured-item-icon", {width: 76, height: 76, label: "GitLab EE"}
            %ul.featured-item-list.list-unstyled
              %li.item-description
                On-premises on your server
              %li.line-separator
              %li.item-description
                Proprietary features & next-day support
              %li.line-separator
              %li.item-description
                = link_to "Learn more...", "#compare-options", class: "action-link"
            = link_to "Buy Now", "https://customers.gitlab.com/subscriptions/new?plan_id=2c92a0fe55823ee501558a9ba4b1216a", class: "featured-item-button"
      .col-md-2
        .featured-item
          .edition-name.edition-enterprise
            Enterprise Edition Premium
          .featured-item-body
            %h2.featured-item-headline
              = succeed "39/yr" do
                %span.currency $
            %h3.featured-item-headline-small
              per user (no minimum)
            = icon "ee", "featured-item-icon", {width: 76, height: 76, label: "GitLab EE"}
            %ul.featured-item-list.list-unstyled
              %li.item-description
                On-premises on your server
              %li.line-separator
              %li.item-description
                Proprietary features & next-day support
              %li.line-separator
              %li.item-description
                = link_to "Learn more...", "#compare-options", class: "action-link"
            = link_to "Buy Now", "https://customers.gitlab.com/subscriptions/new?plan_id=2c92a0fe55823ee501558a9ba4b1216a", class: "featured-item-button"
      .col-md-2
        .featured-item
          .edition-name
            GitLab.com
          .featured-item-body
            %h2.featured-item-headline
              Free
            %h3.featured-item-headline-small
              unlimited repositories
            = icon "com", "featured-item-icon", {width: 76, height: 76, label: "GitLab.com"}
            %ul.featured-item-list.list-unstyled
              %li.item-description
                Hosted on GitLab's servers
              %li.line-separator
              %li.item-description
                Unlimited private collaborators
              %li.line-separator
              %li.item-description
                = link_to "Learn more...", "/gitlab-com/", class: "action-link"
            = link_to "Sign Up", "https://gitlab.com/users/sign_in", class: "featured-item-button"
      .col-md-2
        .featured-item
          .edition-name
            GitLab Hosted
          .featured-item-body
            %h2.featured-item-headline
              = succeed "35/mo" do
                %span.currency $
            %h3.featured-item-headline-small
              Recommended for up to 30 users
            = icon "hosted", "featured-item-icon", {width: 76, height: 76, label: "GitLab Hosted"}
            %ul.featured-item-list.list-unstyled
              %li.item-description
                Private server hosted by GitLab
              %li.line-separator
              %li.item-description
                Run GitLab CE or EE
              %li.line-separator
              %li.item-description
                = link_to "Learn more...", "https://githost.io/", class: "action-link"
            = link_to "Hosting Options", "https://githost.io/", class: "featured-item-button"

#compare-options.what-is.choose-gitlab.text-center.animated
  .container
    %h2.choose-gitlab-title
      Choose the GitLab edition that is best for your team
.container
  .compare
    = partial "includes/features/table"
.content-container.animated
  .container
    %h2.faq-title.light.text-center
      Subscription & Licensing FAQ
    %h3.faq-subtitle.light.text-center
      Still have questions?
      = succeed "." do
        = link_to "Contact us", "/sales/"
    .faq-holder.clearfix
      - size = (data.pricing.questions.size / Float(2)).ceil
      - data.pricing.questions.each_slice(size).to_a.each do |group|
        = partial "question-group", locals: { group: group }
