- if post.data.image_title
  = partial "includes/blog/image", :locals => {:post => post}
  = partial "includes/blog/meta", :locals => {:post => post}
- else
  %h1.entry-title
    %a{:href => post.url}
      = post.title
  = partial "includes/blog/meta", :locals => {:post => post}
  %hr.blog-title-divider
.entry-content
  = post.summary
%footer
  = link_to "Read on &rarr;", post.url
