---
title: Blog
comments: false
suppress_header: true
---

.blog.index
  .wrapper

    .articles
      - blog.articles[0...8].each do |article|
        .article
          - image_title = article.data.image_title ? article.data.image_title : '/images/default-blog-image.png'

          .cover{style: "background-image: url(#{image_title});"}
          %h2.title
            = link_to article.title, article.url
          .author
            - if article.data.author_twitter
              = link_to(article.data.author, "https://twitter.com/#{article.data.author_twitter}")
            - else
              = article.data.author
          .date
            = article.date.to_time.strftime '%b %e, %Y'
          .summary
            = article.summary
            = link_to "Read on &rarr;", article.url
  .clear

  %p
    %a{href: "/blog/archives.html"} Browse the archives
