---
layout: default
title: Pricing
suppress_header: true
extra_css:
  - pricing.css
extra_js:
  - pricing.js
extra_font:
  - "Roboto+Slab"
---

.page-container.pricing-container.text-center.animated
  .container
    %h1.page-headline
      Simple pricing for teams of all sizes
    %h4.subheader
      Includes a 45 day money-back guarantee
    .row{ data: { equal: ".col-md-4" } }
      .col-md-4
        .featured-item
          .edition-name
            GitLab.com
          .featured-item-body
            %h2.featured-item-headline
              Free
            %h3.featured-item-headline-small
              unlimited repositories
            = icon "com", "featured-item-icon", {width: 76, height: 76, label: "GitLab.com"}
            %ul.featured-item-list.list-unstyled
              %li.item-description
                Hosted on GitLab's servers
              %li.line-separator
              %li.item-description
                Unlimited private collaborators
              %li.line-separator
              %li.item-description
                = link_to "Learn more...", "/gitlab-com/", class: "action-link"
            = link_to "Sign Up", "https://gitlab.com/users/sign_in", class: "featured-item-button"
      .col-md-4
        .featured-item
          .edition-name
            Community Edition
          .featured-item-body
            %h2.featured-item-headline
              Free
            %h3.featured-item-headline-small
              unlimited users
            = icon "ce", "featured-item-icon", {width: 76, height: 76, label: "GitLab CE"}
            %ul.featured-item-list.list-unstyled
              %li.item-description
                On-premises on your server
              %li.line-separator
              %li.item-description
                Open source & scalable
              %li.line-separator
              %li.item-description
                = link_to "Learn more...", "/features#community", class: "action-link"
            = link_to "Download Now", "/downloads/", class: "featured-item-button"
      .col-md-4
        .featured-item
          .edition-name
            Enterprise Edition
          .featured-item-body
            %h2.featured-item-headline
              = succeed "39/yr" do
                %span.currency $
            %h3.featured-item-headline-small
              per user (no minimum)
            = icon "ee", "featured-item-icon", {width: 76, height: 76, label: "GitLab EE"}
            %ul.featured-item-list.list-unstyled
              %li.item-description
                On-premises on your server
              %li.line-separator
              %li.item-description
                Next business day support
              %li.line-separator
              %li.item-description
                = link_to "Learn more...", "/features#enterprise", class: "action-link"
            = link_to "Buy Now", data.pricing.payment_url, class: "featured-item-button"
    %h1.page-headline.cta
      Try GitLab Enterprise Edition risk free for 30 days
    %h4.subheader.cta
      No Credit card required. Have questions?
      %a.contact-us{href: "https://about.gitlab.com/sales/"} Contact us.
    %a.btn.btn-lg.btn-red{ href: "/free-trial/" } Get Your Free Trial Today

.page-container.content-container.text-center.animated
  .container
    %h1.page-headline
      These powerful tools and services are available as options for the Enterprise Edition
    .row{ data: { equal: ".col-md-4" } }
      .col-md-4
        .featured-item
          .edition-name
            GitLab Geo
          .featured-item-body
            %h2.featured-item-headline
              = succeed "99/yr" do
                %span.currency $
            %h3.featured-item-headline-small
              per user (no minimum)
            = icon "gitlab-geo", "featured-item-icon", {width: 76, height: 76, label: "GitLab CE"}
            %ul.featured-item-list.list-unstyled
              %li.item-description
                Mirrored GitLab instance
              %li.line-separator
              %li.item-description
                Built for remote working teams
              %li.line-separator
              %li.item-description
                Faster cloning & fetching
              %li.line-separator
              %li.item-description
                = link_to "Learn more...", "", class: "action-link"
            %a.featured-item-button{href: data.pricing.payment_url}
              Add GitLab Geo
      .col-md-4
        .featured-item
          .edition-name
            Premium Support
          .featured-item-body
            %h2.featured-item-headline
              = succeed "99/yr" do
                %span.currency $
            %h3.featured-item-headline-small
              per user (minimum of 100 users)
            = icon "premium-support", "featured-item-icon", {width: 76, height: 76, label: "GitLab CE"}
            %ul.featured-item-list.list-unstyled
              %li.item-description
                24/7 emergency support
              %li.line-separator
              %li.item-description
                Training workshops
              %li.line-separator
              %li.item-description
                Dedicated service engineer
              %li.line-separator
              %li.item-description
                Live upgrade assistance
            %a.featured-item-button{href: data.pricing.payment_url}
              Add Premium Support
      .col-md-4
        .featured-item
          .edition-name
            Pivotal Tile
          .featured-item-body
            %h2.featured-item-headline
              = succeed "99/yr" do
                %span.currency $
            %h3.featured-item-headline-small
              per user (no minimum)
            = icon "pivotal-tile", "featured-item-icon", {width: 76, height: 76, label: "GitLab CE"}
            %ul.featured-item-list.list-unstyled
              %li.item-description
                Simple installation
              %li.line-separator
              %li.item-description
                High available by default
              %li.line-separator
              %li.item-description
                Easily scale up
              %li.line-separator
              %li.item-description
                Customizable, integrated, & secure
              %li.line-separator
              %li.item-description
                = link_to "Learn more...", "https://about.gitlab.com/2015/11/03/pivotal-cloud-foundry-tile-for-gitlab-ee/", class: "action-link"
            %a.featured-item-button{href: data.pricing.payment_url}
              Add Pivotal Tile
    %a.featured-item-button.purchase-now{href: data.pricing.payment_url}
      Purchase your GitLab EE package
.what-is.why-gitlab
  .container
    .row
      .col-sm-6.col-md-4.what-is-item-holder
        .what-is-item
          = icon "contribute", "what-is-item-icon", {width: 76, height: 76, label: "Contribute"}
          %h3.what-is-item-title
            GitLab compared to the competition
          .what-is-item-content
            :markdown
              Lorem ipsum dolor sit amet, adipiscing elit. Integer condimentum
              eros mauris, quis accumsan justo fermentum sed.

              Sed mollis diam odio, non fringilla felis aliquam id. In ut
              eleifend nunc. Sed pharetra orci et eros blandit ultrices.

              Lorem ipsum dolor sit amet, adipiscing elit. Integer condimentum
              eros mauris, quis accumsan justo fermentum sed.
      .col-sm-6.col-md-4.what-is-item-holder
        .what-is-item
          = icon "community", "what-is-item-icon", {width: 76, height: 76, label: "Community"}
          %h3.what-is-item-title
            High Availability
          .what-is-item-content
            :markdown
              High availability is a system design that ensures a prearranged
              level of operational performance throughout a specific
              time-period. The most common way to measure HA is through the notion
              of uptime, which measures how long a service is up and running.

              [Learn more](/features/) about the costs and benefits of High
              Availability on GitLab
      .col-sm-12.col-md-4.what-is-item-holder
        .what-is-item
          = icon "release", "what-is-item-icon", {width: 76, height: 76, label: "Release"}
          %h3.what-is-item-title
            GitHost
          .what-is-item-content
            :markdown
              We can host a private GitLab instance for you with GitHost.

              Lorem ipsum dolor sit amet, adipiscing elit. Integer condimentum
              eros mauris, quis accumsan justo fermentum sed.

              Sed mollis diam odio, non fringilla felis aliquam id. In ut
              eleifend nunc. Sed pharetra orci et eros blandit ultrices.
.logos-section
  .container
    %h2.logos-section-title.text-center
      Open sourced & feature packed: GitLab CE vs. GitLab EE
    %ul.row.list-unstyled.compare-list
      - data.pricing.compare.each do |feature|
        = partial "compare", locals: { feature: feature }
    %h3.compare-sub-title.light.text-center.animated
      = link_to "Learn more", "/features/"
      with a full Community & Enterprise Edition feature comparision
.content-container.animated
  .container
    %h2.faq-title.light.text-center
      Subscription & Licensing FAQ
    %h3.faq-subtitle.light.text-center
      Still have questions?
      = link_to "Contact us", "/sales/"
    .faq-holder.clearfix
      - data.pricing.questions.each_slice(data.pricing.questions.size / 2).to_a.each do |group|
        = partial "question-group", locals: { group: group }
