---
title: Code, test, and deploy together with GitLab open source git repo management software
suppress_header: true
extra_css:
  - landing.css
extra_js:
  - libs/slick.min.js
  - home.js
---
.gitlab-promo-banner.animated
  %a{href: data.promo.link}= data.promo.text
.landing-container.text-center
  #js-landing-community.landing-community
  .container
    %h1.landing-headline
      Code, test, and deploy together
    .landing-hero.hidden-xs
      = partial "images/home/gitlab-illustration.svg"
    .row.animated
      .col-md-4
        .featured-item
          = icon "ce", "featured-item-icon", {width: 56, height: 56, label: "GitLab CE"}
          %h2.featured-item-headline
            GitLab CE
          %h3.featured-item-headline-small
            Community Edition
          %p.featured-item-description
            Host it on your own server? Download and install the open source GitLab CE in 2 minutes.
          %a.featured-item-button{:href => "/downloads/", :onclick => "ga('send', 'event', 'link','click','download ce']);"}
            Download
      .col-md-4
        .featured-item
          = icon "ee", "featured-item-icon", {width: 56, height: 56, label: "GitLab EE"}
          %h2.featured-item-headline
            GitLab EE
          %h3.featured-item-headline-small
            Enterprise Edition
          %p.featured-item-description
            Need enterprise features and support? See our pricing to run GitLab EE on your server.
          %a.featured-item-button{:href => "/pricing/", :onclick => "ga('send', 'event', 'link','click','ee pricing']);"}
            Pricing
      .col-md-4
        .featured-item
          = icon "com", "featured-item-icon", {width: 56, height: 56, label: "GitLab.com"}
          %h2.featured-item-headline
            GitLab.com
          %h3.featured-item-headline-small
            On Our Server
          %p.featured-item-description
            Free hosting for private repos? Sign up to get unlimited repos and collaborators.
          %a.featured-item-button{:href => "https://gitlab.com/users/sign_in", :onclick => "ga('send', 'event', 'link','click','gitlab.com signup');"}
            Sign Up
.what-is.animated
  .container
    .row
      .col-sm-6.col-md-4.what-is-item-holder
        .what-is-item
          = icon "contribute", "what-is-item-icon", {width: 56, height: 56, label: "Contribute"}
          %h3.what-is-item-title
            Everyone can contribute
          .what-is-item-content
            %p
              %b> Batteries included
              \: GitLab includes git repository management, code reviews, issue tracking, wikis and
              %a{:href => "/features/"} much more
            %p
              %b> Do it together
              \: Discuss issues and plan milestones. Do code reviews and make line comments. Mention your colleagues anywhere. View activity streams of projects or people.
            %p
              %b> Plays well with others
              \: GitLab has integrations for tons of tools such as Slack, Hipchat, LDAP, JIRA, Jenkins, many types of hooks and a complete API.
      .col-sm-6.col-md-4.what-is-item-holder
        .what-is-item
          = icon "community", "what-is-item-icon", {width: 56, height: 56, label: "Community"}
          %h3.what-is-item-title
            Community loved,
            %br
            enterprise ready
          .what-is-item-content
            %p
              Nam dignissim nisl pellentesque tempor placerat. Vivamus sem sapien, cursus vel porttitor at, semper a mauris. Proin venenatis cursus tellus at tristique. Morbi sollicitudin tortor id magna lacinia, pharetra auctor dui ullamcorper. Sed fermentum sodales placerat. Suspendisse scelerisque sit amet diam et tincidunt. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            %p
              Nam dignissim nisl pellentesque tempor placerat. Vivamus sem sapien, cursus vel porttitor at, semper a mauris. Proin venenatis cursus tellus at tristique. Morbi sollicitudin tortor id magna lacinia, pharetra auctor dui ullamcorper. Sed fermentum sodales placerat. Suspendisse scelerisque sit amet diam et tincidunt. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      .col-sm-12.col-md-4.what-is-item-holder
        .what-is-item
          = icon "release", "what-is-item-icon", {width: 56, height: 56, label: "Release"}
          %h3.what-is-item-title
            We are never done
          .what-is-item-content
            %p
              Nam dignissim nisl pellentesque tempor placerat. Vivamus sem sapien, cursus vel porttitor at, semper a mauris. Proin venenatis cursus tellus at tristique. Morbi sollicitudin tortor id magna lacinia, pharetra auctor dui ullamcorper. Sed fermentum sodales placerat. Suspendisse scelerisque sit amet diam et tincidunt. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            %p
              Nam dignissim nisl pellentesque tempor placerat. Vivamus sem sapien, cursus vel porttitor at, semper a mauris. Proin venenatis cursus tellus at tristique. Morbi sollicitudin tortor id magna lacinia, pharetra auctor dui ullamcorper. Sed fermentum sodales placerat. Suspendisse scelerisque sit amet diam et tincidunt. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
= partial "includes/organizations/grid"
= partial "includes/testimonials/slider"
