---
title: Code, test, and deploy together with GitLab open source git repo management software
suppress_header: true
extra_css:
  - landing.css
extra_js:
  - libs/slick.min.js
  - home.js
---
.gitlab-promo-banner.animated
  %a{href: data.promo.link}= data.promo.text
.landing-container.text-center
  #js-landing-community.landing-community
  .container
    %h1.landing-headline
      Code, test, and deploy together
    .landing-hero.hidden-xs
      = partial "images/home/gitlab-illustration.svg"
    .row.animated
      .col-md-4
        .featured-item
          = icon "ce", "featured-item-icon", {width: 56, height: 56, label: "GitLab CE"}
          %h2.featured-item-headline
            GitLab CE
          %h3.featured-item-headline-small
            Community Edition
          %p.featured-item-description
            Host it on your own server? Download and install the open source GitLab CE in 2 minutes.
          %a.featured-item-button{href: "/downloads/", onclick: "ga('send', 'event', 'link','click','download ce');"}
            Download
      .col-md-4
        .featured-item
          = icon "ee", "featured-item-icon", {width: 56, height: 56, label: "GitLab EE"}
          %h2.featured-item-headline
            GitLab EE
          %h3.featured-item-headline-small
            Enterprise Edition
          %p.featured-item-description
            Need enterprise features and support? See our pricing to run GitLab EE on your server.
          %a.featured-item-button{href: "/pricing/", onclick: "ga('send', 'event', 'link','click','ee pricing');"}
            Pricing
      .col-md-4
        .featured-item
          = icon "com", "featured-item-icon", {width: 56, height: 56, label: "GitLab.com"}
          %h2.featured-item-headline
            GitLab.com
          %h3.featured-item-headline-small
            On Our Server
          %p.featured-item-description
            Free hosting for private repos? Sign up to get unlimited repos and collaborators.
          %a.featured-item-button{href: "https://gitlab.com/users/sign_in", onclick: "ga('send', 'event', 'link','click','gitlab.com signup');"}
            Sign Up
.what-is.animated
  .container
    .row
      .col-sm-6.col-md-4.what-is-item-holder
        .what-is-item
          = icon "contribute", "what-is-item-icon", {width: 56, height: 56, label: "Contribute"}
          %h3.what-is-item-title
            Everyone can contribute
          .what-is-item-content
            %p
              %strong Build together:
              GitLab includes git repository management, code reviews, issue tracking, wikis, and
              %a{href: "/features/"} more.
              GitLab includes GitLab CI an easy to use continuous integration and deployment tool.
            %p
              %strong Stay up to date:
              Collaborate with your team using issues, milestones, and line by line code review. View activity streams of projects or the people you work with.
            %p
              %strong Plays well with others:
              GitLab seamlessly integrates with Slack, Hipchat, LDAP, JIRA, Jenkins, and many other popular tools. GitLab includes many webhooks and offers a complete API.
      .col-sm-6.col-md-4.what-is-item-holder
        .what-is-item
          = icon "community", "what-is-item-icon", {width: 56, height: 56, label: "Community"}
          %h3.what-is-item-title
            Community loved,
            %br
            enterprise ready
          .what-is-item-content
            %p
              GitLab Community Edition is completely free to
              %a{href: "/downloads/"} download
              and
              %a{href: "https://gitlab.com/gitlab-org/gitlab-ce/tree/master#README"} open source.
              GitLab is powered by a community of more than 1000 people.
            %p
              GitLab Enterprise Edition offers deeper LDAP and Active Directory integration, Jira and Jenkins integration, and
              %a{href: "/features/#compare"} much more.
            %p
              Enterprise Edition subscriptions can include 24/7 emergency support, a dedicated service engineer, high availability support, and more. Learn more on our
              %a{href: "/pricing/"} pricing page.
      .col-sm-12.col-md-4.what-is-item-holder
        .what-is-item
          = icon "release", "what-is-item-icon", {width: 56, height: 56, label: "Release"}
          %h3.what-is-item-title
            We are never done
          .what-is-item-content
            %p
              %strong Updated Monthly:
              We release a new version of GitLab each month on the 22nd and it'll only take you 2 minutes to update.
            %p
              %strong Community Input:
              We listen to our community when deciding what to release next. Follow along with our
              %a{href: "/direction/"} upcoming releases.
            %p
              %strong Scales Effortlessly:
              GitLab runs smoothly on any size server but can scale to multiple active servers. A single server can handle more than 25,000 users.
= partial "includes/organizations/grid"
= partial "includes/testimonials/slider"
